<html>
<h1> ciaoo </h1>
<form action="/newtodo" method="post">
<input type="text" name="text">
<input type="submit">
</form>
<ul>   
     <%todos.forEach(function(todo){%>
	<li> <%= todo.text %>
 </li>
 <% }); %> 

</ul>
</html>

